body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Alice", serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card {
  background-image: url('../imagens/card.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
  border-radius: 15px;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0,0,0,0.3);
  color: rgb(255, 255, 255);
}

.card h1 {
  margin-bottom: 15px;
}

.card p {
  margin-bottom: 20px;
}

.card button {
  background: #a10101;
  color: rgb(255, 255, 255);
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}


.fundo {
    
  position: fixed;     
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;   
  z-index: -1; 
}